@font-face {
    font-family: 'Roboto Condensed';
    src: url('C/Users/Najib/Documents/Yoyou/projet numrique/codages en gn/html css js/Codin/RobotoCondensed-Light.woff2') format('woff2'),
        url('C/Users/Najib/Documents/Yoyou/projet numrique/codages en gn/html css js/Codin/RobotoCondensed-Light.woff') format('woff'),
        url('C/Users/Najib/Documents/Yoyou/projet numrique/codages en gn/html css js/Codin/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('C/Users/Najib/Documents/Yoyou/projet numrique/codages en gn/html css js/Codin/RobotoCondensed-Regular.woff2') format('woff2'),
        url('C/Users/Najib/Documents/Yoyou/projet numrique/codages en gn/html css js/Codin/RobotoCondensed-Regular.woff') format('woff'),
        url('C/Users/Najib/Documents/Yoyou/projet numrique/codages en gn/html css js/Codin/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

